<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>쿠키 팔아요!</h1>
  <input onclick="getCookie();" type="checkbox" name="check" id="check" />
  <label for="check">ALERT 하루 동안 보지 않기</label>

  <script>
    if (!document.cookie) alert('쿠키 팔아요!');

    function getCookie() {
      fetch('http://localhost:4000/cookie/cook', {
          method: 'GET',
          headers: {
            'Content-type': 'application/json',
          },
        })
        .then(() => {
          console.log(document.cookie);
        })
    }
  </script>
</body>

</html>